
<dir class="row">
    <div class=" col-md-5 nopad text-center">
        <label>
            <img class="img-responsive" src="~/images/Tea.jpg" />
            
            <i class="fa fa-check hidden"></i>
        </label>
    </div>

</dir>


<dir class="row">
    <div class="col-md-5 nopad text-center">
        <label>
            <img class="img-responsive" src="~/images/Tea.jpg" />
            
            <i class="fa fa-check hidden"></i>
        </label>
    </div>

</dir>

<dir class="row">
    <div class="col-md-5 nopad text-center">
        <label >
            <img class="img-responsive" src="~/images/Tea.jpg" />
            
            <i class="fa fa-check hidden"></i>
        </label>
    </div>

</dir>
